doctype html
html
  head
    block title

    //- link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="node_modules/material-design-lite/material.min.css")
    link(rel="stylesheet" href="node_modules/mdl-selectfield/dist/mdl-selectfield.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
  body
    block content

    script(src="node_modules/vue/dist/vue.js")
    script(src="node_modules/material-design-lite/material.min.js")
    script(src="node_modules/mdl-selectfield/dist/mdl-selectfield.min.js")
    script(src="node_modules/axios/dist/axios.min.js")
    script
      | new Vue({
      |   el: '#app',
      |   data: {endpoint: ''},
      |   methods: {
      |     cat_indices() {
      |       var endp = document.getElementById('endpoint').value;
      |       axios.get("/cat/indices",{params:{endpoint:endp}}).then(handle_cat_indices).catch((err) => console.log(err))
      |     }
      |   }
      | });
      | function get_index_mapping(){
      |   var endp = document.getElementById('endpoint').value;
      |   var indx = document.getElementById('es_indices_select').value;
      |   axios.get("/indices/mappings",{params:{endpoint:endp, indx: indx}}).then(handle_indx_mappings).catch((err) => console.log(err))
      | }

    block script
